{{> header-portfolio title="Bienvenue mon portfolio | Landry"}}
<link rel="stylesheet" href="/static/style/css/home.css">
</head>

<body>
    {{> header}}
    <main class="main" id="main">
        <div class="main-title" id="main-title">
            <h1>Bienvenue sur mon portfolio</h1>
        </div>
        <div class="main-about-me" id="main-about-me">
            <section class="card-section-about-me" id="card-section-about-me">
                <div class="avatar-landry uk-overflow-hidden" id="avatar-landry">
                    <img data-src="/static/images/Landry-avatar.png" with="100%" height="100%" uk-img />
                </div>
                <div class="section-information" id="section-information">
                    <div class="section-presentation" id="section-presentation">
                        <h2>DJEDEMIN </h2>
                        <h2>Landry Modeste</h2>
                    </div>
                    <p class="profession" id="profession">Développeur web et web designer</p>
                </div>
                <div class="card-footer-about-me" id="card-footer-about-me">
                    <nav class="reseaux-sociaux" id="reseaux-sociaux">
                        <a href="https://facebook.com/gago.val" class="link-focus fab fa-facebook facebook-icon"
                            id="fb-icon"></a>
                        <a href="https://www.instagram.com/landry_devs/?hl=fr"
                            class="link-focus fab fa-instagram instagram-icon" id="in-icon"></a>
                        <a href="https://twitter.com/Landry_Dev" class="link-focus fab fa-twitter twitter-icon"
                            id="tw-icon"></a>
                        <a href="https://5euros.com/profil/modestelandry"
                            style="display:inline-flex;justify-content:center;align-items:center"
                            class="link-focus medium-icon" id="md-icon">
                            <img src="/static/images/5euros.png" width="20" height="20" alt="">
                        </a>
                    </nav>
                </div>
            </section>
            <div class="portfolio-description" id="portfolio-description">
                <p class="portfolio-description-paragraphe" id="portfolio-description-paragraphe">
                    Moi c'est DJEDEMIN Landry Modeste , étudiant en électronique , développeur web et web designer .
                    Amateur en web design , j'ai plus de deux d'expériences dans le
                    domaine de la programmation web . Je suis capable aujourd'hui de créer différents sites web (One
                    page , blogs ,
                    vitrine , e-commerce et autres) avec les technologies du web tel le HTML , CSS ,
                    Javascript / nodejs etc.Je continue toujours d'apprendre en autodidacte en vue de me perfectionner
                    dans ces deux domaines pour pouvoir atteindre mes objectifs les plus chers .
                </p>
                <div class="some-links" id="some-links">
                    <a href="projets" class="link-focus btn  btn-about">En savoir plus</a>
                    <a href="projets" class="link-focus btn btn-outline btn-projets">Voir mes projets</a>
                </div>
            </div>
        </div>
    </main>
    {{> footer}}
</body>

</html>