{{> header-portfolio title="En savoir plus sur moi | Landry"}}
<meta name="description"
    content="Sur cette page je vous parle un peu de moi , ce que j'aime et de mes compétences et connaissances acquise au cours de mes années d'apprentissage">
<link rel="stylesheet" href="/static/style/css/me.css">
</head>
{{> header}}
<main class="main" id="main">
    <div class="main-title" id="main-title">
        <h1>En savoir plus sur moi</h1>
    </div>
    <section class="info-about-me uk-child-width-1-2@s" uk-grid id="info-about-me">
        <div class="info info-1 uk-padding" id="info-1">
            <div class="info-icon">
                <div class="fa fa-code uk-text-center uk-display-block uk-margin-small fa-4x"></div>
            </div>
            <div class="info-content" id="info-content">
                <h3 class="uk-text-center">Développement</h3>
                <p class="uk-text-justify">Je code votre site de A - Z en utilisant les techonologies du web tel le
                    HTML , le CSS et le Javascript afin d'avoir le contrôle sur les moindres composants de votre site </p>
            </div>
        </div>

        <div class="info info-2 uk-padding" id="info-2">
            <div class="fa fa-code uk-text-center uk-display-block uk-margin-small fa-4x"></div>
            <div class="info-content" id="info-content">
                <h3 class="uk-text-center">Design</h3>
                <p class="uk-text-justify">En plus de programmer votre site web de A - Z , j'ajoute à ce dernier un
                    design de qualité pour améliorer l'interface et l'expérience de l'utilisateur en choisissant de
                    belles polices , les couleurs en tenant compte du message à véhiculer. </p>
            </div>
        </div>
    </section>
    <section class="connaissances" id="connaissances">
        <h2 class="section-title uk-margin-xlarge-left uk-margin-large-bottom"> Connaissances et compétences </h2>
        <div class="connaissances-percent" id="connaissances-percent">

            <div class="progress  wow bounceInUp progress-figma uk-margin-medium-top uk-margin-medium-bottom  uk-flex uk-flex-center"
                id="progress-figma">
                <h4 class="uk-margin-small-right">Figma</h4>
                <progress class="uk-progress uk-width-1-2" value="10" max="100"></progress>
                <span class="percent figma-percent uk-margin-medium-left" id="figma-percent">10%</span>
            </div>

            <div class="progress progress-mongodb uk-margin-medium-top uk-margin-medium-bottom  uk-flex uk-flex-center"
                id="progress-mongodb">
                <h4 class="uk-margin-small-right">MongoDB</h4>
                <progress class="uk-progress uk-width-1-2" value="25" max="100"></progress>
                <span class="percent mongodb-percent uk-margin-medium-left" id="mongodb-percent">30%</span>
            </div>

            <div class="progress progress-nodejs-express uk-margin-medium-top uk-margin-medium-bottom  uk-flex uk-flex-center"
                id="progress-react">
                <h4 class="uk-margin-small-right">Réact</h4>
                <progress class="uk-progress uk-width-1-2" value="45" max="100"></progress>
                <span class="percent nodejs-express-percent uk-margin-medium-left"
                    id="nodejs-express-percent">45%</span>
            </div>

            <div class="progress progress-nodejs-express uk-margin-medium-top uk-margin-medium-bottom  uk-flex uk-flex-center"
                id="progress-nodejs-express">
                <h4 class="uk-margin-small-right">Nodejs / Express</h4>
                <progress class="uk-progress uk-width-1-2" value="48" max="100"></progress>
                <span class="percent nodejs-express-percent uk-margin-medium-left"
                    id="nodejs-express-percent">60%</span>
            </div>

            <div class="progress progress-javascript uk-margin-medium-top uk-margin-medium-bottom  uk-flex uk-flex-center"
                id="progress-javascript">
                <h4 class="uk-margin-small-right">Javascript</h4>
                <progress class="uk-progress uk-width-1-2" value="50" max="100"></progress>
                <span class="percent javascript-percent uk-margin-medium-left" id="javascript-percent">45%</span>
            </div>


            <div class="uk-position-relative uk-margin-medium-top uk-margin-medium-bottom progress progress-css  uk-flex uk-flex-center"
                id="progress-css">
                <h4 class="uk-margin-small-right">CSS</h4>
                <progress class="uk-progress uk-width-1-2" value="85" max="100"></progress>
                <span class="percent css-percent uk-margin-medium-left" id="css-percent">85%</span>
            </div>


            <div class="uk-position-relative uk-margin-medium-top uk-margin-medium-bottom progress uk-flex uk-flex-center progress-html"
                id="progress-html">
                <h4 class="uk-margin-small-right">HTML</h4>
                <progress class="uk-progress uk-width-1-2" value="85" max="100"></progress>
                <span class="percent html-percent uk-margin-medium-left" id="html-percent">85%</span>
            </div>
        </div>
    </section>
    <section class="hobbies" id="hobbies">
        <h2 class="section-title uk-margin-xlarge-left uk-margin-large-bottom"> Mes hobbies </h2>
        <div class="hobby" id="hobby">
            <div class="loisir hobby-programmation">
                Programmation
            </div>
            <div class="loisir hobby-musique">
                Musique
            </div>
            <div class="loisir hobby-sport">
                Sport
            </div>
            <div class="loisir hobby-comedy">
                Comedy
            </div>
        </div>
    </section>
</main>
{{> footer}}