{{> header-portfolio title="Page Introuvable"}}
<link rel="stylesheet" href="/static/style/css/P404.css">
</head>

<body>
    {{> header}}
    <main class="main" id="main">
        <div class="p404">
            <div>
                <h2>404</h2>
                <h3>
                    Page introuvable
                </h3>
            </div>
        </div>
    </main>
    {{> footer}}
</body>

</html>