{{> header-portfolio title="Page Introuvable"}}
<link rel="stylesheet" href="/static/style/css/P404.css">
</head>

<body>
    {{> header}}
    <main class="main" id="main">
        <img src="/static/images/404.png" srcset="/static/images/404-sm.png 300x,/static/images/404.png"
            alt="404 Images">
    </main>
    {{> footer}}
</body>

</html>