{{> header-portfolio title="Les projets sur lesquels j'ai travaillé | Landry"}}
<meta name="description" content="Je vous propose de voir les projets sur lesquels j'ai eu à travailler">
<link rel="stylesheet" href="/static/style/css/projets.css">
</head>

<body>
    {{> header}}
    <main class="main" id="main">
        <div class="main-title" id="main-title">
            <h1>Mes projets</h1>
        </div>
        <div class="projet-all" id="projet-all">

            <section class="projets" id="projets">
                <div class="uk-margin-xlarge-top" uk-grid>
                    <article
                        class="projet projet-1 active uk-margin-large-bottom uk-text-center@s uk-margin-large-left@s uk-margin-large-right@s uk-margin-auto-left@m uk-margin-auto-right@m">
                        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin projet-image"
                            uk-grid>
                            <div class="uk-card-media-left uk-cover-container">
                                <img class="uk-display-block uk-margin-medium-right"
                                    src="/static/images/portfolio-projet.png" height="100%"
                                    srcset="/static/images/portfolio-projet-sm.png 400w , /static/images/portfolio-projet.png 500w"
                                    alt="" uk-cover>
                                <canvas width="350" height="310"></canvas>
                            </div>
                            <div class="uk-card-body projet-content uk-padding">
                                <h3 class="uk-card-title uk-text-left">1 - Mon portfolio</h3>
                                <p class="uk-text-justify">Mon tout premier projet publié fut mon portfolio</p>
                                <div class="button-see-more uk-text-right">
                                    <a href="/" class="btn btn-primary btn-consult link-focus">Consulter</a>
                                </div>
                            </div>
                        </div>
                    </article>


                    <article
                        class="projet projet-2 uk-margin-large-bottom uk-text-center@s uk-margin-large-left@s uk-margin-large-right@s uk-margin-auto-left@m uk-margin-auto-right@m">
                        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin projet-image"
                            uk-grid>
                            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                                <img class="uk-display-block uk-margin-medium-right"
                                    src="/static/images/projet-1-sm.jpg" width="100%" sizes="(max-width: 640px) 200px,"
                                    srcset="/static/images/projet-1-sm.jpg 200w , /static/images/projet-1-md.jpg 500w"
                                    alt="" uk-cover>
                                <canvas width="350" height="310"></canvas>
                            </div>
                            <div class="uk-card-body projet-content uk-padding">
                                <h3 class="uk-card-title uk-text-left">2 - Site de prêt en ligne</h3>
                                <p class="uk-text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt.</p>
                                <div class="button-see-more uk-text-right">
                                    <a href="/" class="btn btn-primary btn-consult link-focus">Consulter</a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article
                        class="projet projet-3 uk-margin-large-bottom uk-text-center@s uk-margin-large-left@s uk-margin-large-right@s uk-margin-auto-left@m uk-margin-auto-right@m">
                        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin projet-image"
                            uk-grid>
                            <div class="uk-card-media-left uk-cover-container">
                                <img class="uk-display-block uk-margin-medium-right"
                                    src="/static/images/projet-1-sm.jpg" width="100%" sizes="(max-width: 640px) 200px,"
                                    srcset="/static/images/projet-1-sm.jpg 200w , /static/images/projet-1-md.jpg 500w"
                                    alt="" uk-cover>
                                <canvas width="350" height="310"></canvas>
                            </div>
                            <div class="uk-card-body projet-content uk-padding">
                                <h3 class="uk-card-title uk-text-left">3 - Site de prêt en ligne</h3>
                                <p class="uk-text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt.</p>
                                <div class="button-see-more uk-text-right">
                                    <a href="/" class="btn btn-primary btn-consult link-focus">Consulter</a>
                                </div>
                            </div>
                        </div>
                    </article>

                    <article
                        class="projet projet-4 uk-margin-large-bottom uk-text-center@s uk-margin-large-left@s uk-margin-large-right@s uk-margin-auto-left@m uk-margin-auto-right@m">
                        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin projet-image"
                            uk-grid>
                            <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                                <img class="uk-display-block uk-margin-medium-right"
                                    src="/static/images/projet-1-sm.jpg" width="100%" sizes="(max-width: 640px) 200px,"
                                    srcset="/static/images/projet-1-sm.jpg 200w , /static/images/projet-1-md.jpg 500w"
                                    alt="" uk-cover>
                                <canvas width="350" height="310"></canvas>
                            </div>
                            <div class="uk-card-body projet-content uk-padding">
                                <h3 class="uk-card-title uk-text-left">4 - Site de prêt en ligne</h3>
                                <p class="uk-text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    do eiusmod tempor incididunt.</p>
                                <div class="button-see-more uk-text-right">
                                    <a href="/" class="btn btn-primary btn-consult link-focus">Consulter</a>
                                </div>
                            </div>
                        </div>
                    </article>


                </div>
            </section>
        </div>
        <section class="pagination" id="pagination">
            <nav class="navigation-pagination" id="navigation-pagination">
                <ul class="uk-pagination uk-flex-center" uk-margin>
                    <li class="precedent">
                        <a href="#" class="button-precedent"><span uk-pagination-previous></span></a>
                    </li>
                    <li class="uk-active" value=".projet-1">
                        <a href="#" class="link-pagination">1</a>
                    </li>
                    <li value=".projet-2">
                        <a href="#" class="link-pagination">2</a>
                    </li>
                    <li value=".projet-3">
                        <a href="#" class="link-pagination">3</a>
                    </li>
                    <li value=".projet-4">
                        <a href="#" class="link-pagination">4</a>
                    </li>
                    <li class="next"><a href="#" class="next-button">
                            <span uk-pagination-next></span></a>
                    </li>
                </ul>
            </nav>

        </section>
    </main>
    {{> footer}}
    <script src="/static/script/projets.js"></script>