<footer class="footer" id="footer">
    <address class="address" id="address">
        <div class="address-child address-phone" id="address-phone">
            <h5>Tel :</h5>
            <p><a class="footer-link" id="footer-link-tel" href="tel:+213791107290">0791107290</a></p>
        </div>

        <div class="address-child address-email" id="address-email">
            <h5>Email :</h5>
            <p><a href="mailto:djedeminmodeste@gmail.com" class="footer-link"
                    id="footer-link-mail">djedeminmodeste@gmail.com</a></p>
        </div>

        <div class="address-child address-reseaux-sociaux" id="address-reseaux-sociaux">
            <h5>Réseaux-sociaux :</h5>
            <nav class="footer-reseaux-sociaux" id="footer-reseaux-sociaux">
                <a href="https://facebook.com/gago.val" class="link-focus footer-icn fab fa-facebook"
                    id="footer-facebook-icon"></a>
                <a href="https://www.instagram.com/landry_devs/?hl=fr" class="link-focus footer-icn fab fa-instagram"
                    id="footer-instagram-icon"></a>
                <a href="https://twitter.com/Landry_Dev" class="link-focus footer-icn fab fa-twitter"
                    id="footer-twitter-icon"></a>
                <a href="https://5euros.com/profil/modestelandry"
                    style="display:flex;justify-content:center;align-items:center"
                    class="link-focus footer-icn 5euros-icon" id="5euros-icon">
                    <img src="/static/images/5euros-img.png" width="20" height="20" alt="">
                </a>
            </nav>
        </div>
    </address>
    <div class="copyright" id="copyright">
        <span class="ui-">&#169;</span> Copyright Landry2021
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    new Wow().init();
</script>