<header class="header-portfolio" id="header-portfolio">
    <nav class="header-portfolio-nav" id="header-portfolio-nav">
        <div class="header-portfolio-logo">
            <a href="/">
            </a>
        </div>
        <div class="header-bars fa fa-bars" id="header-bars"></div>
        <div class="header-portfolio-links" id="header-portfolio-links">
            <div class="fa fa-times header-times" id="header-times"></div>
            <nav class="nav-header-portfolio-links" id="nav-header-portfolio-links">
                <ul class="nav-header-portfolio-list" id="nav-header-portfolio-list">
                    <li>
                        <a href="/" class="nav-header-portfolio-link" id="nav-header-portfolio-link-projets">Mon
                            portolio</a>
                    </li>

                    <li>
                        <a href="/@me" class="nav-header-portfolio-link" id="nav-header-portfolio-link-projets">À propos
                            de moi</a>
                    </li>

                    <li>
                        <a href="/projets" class="nav-header-portfolio-link" id="nav-header-portfolio-link-projets">Mes
                            Projets</a>
                    </li>

                    <li>
                        <a href="/contact" class="nav-header-portfolio-link"
                            id="nav-header-portfolio-link-projets">Contactez-moi</a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</header>